name: Deploy Vite site to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: webpage/package-lock.json # Indica dónde está el lock
      - name: Install dependencies
        run: npm install
        working-directory: webpage # Entra a la carpeta para instalar
      - name: Build
        run: npm run build
        working-directory: webpage # Entra a la carpeta para compilar
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: webpage/dist # La carpeta dist ahora estará dentro de webpage

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
